textarea {
    resize: none;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #EEE;
    border: 2px solid black;
    width: 40vw;
}

textarea:focus {
    background-color: #fff;
    border: 3.1px solid black;
}

@media screen and (max-width: 768px) {
    textarea {
        padding: 0.3rem;
        font-size: 0.9rem;
    }
}