h2.category-title {
    font-size: 2.2rem;
    margin-left: 2rem;
}

.serviceDetails {
    margin: .6rem .1rem .6rem 4rem;
}

.serviceDetails h3 {
    font-size: 1.7rem;
}

.serviceDetails p {
    font-size: 1.2rem;
    margin-left: .5rem;
}

.serviceDetails p i {
    font-size: 1.5rem;
    position: relative;
    top: 3px;
}

@media screen and (max-width: 768px) {
    h2.category-title {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
        .serviceDetails {
            margin: .1rem .1rem .3rem .6rem;
        }
    
        .serviceDetails h3 {
            font-size: 1.2rem;
        }
    
        .serviceDetails p {
            font-size: .9rem;
            margin-left: .2rem;
        }
    
        .serviceDetails p i {
            font-size: 1rem;
        }
}